# Virtual environment
golden/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# VS Code and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


staticfiles/
media/
media/hls/
media/properties/videos/original/
sample_media/
sample_media/videos/

# Ignore CV2 binaries and large dependencies
golden/Lib/site-packages/cv2/
*.pyd
*.dll

# Ignore video/audio files globally
*.mp4
*.ts
*.mov
*.avi
*.mkv
*.flv
*.webm

# Node (if you're using npm for frontend)
node_modules/

# Compiled files and coverage
*.so
*.egg
*.egg-info/
dist/
build/
coverage/
htmlcov/
